
/* 
.contain {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #72B481;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #4682B4;
}

h2 {
    color: #4682B4;
    margin-top: 30px;
}

p {
    line-height: 1.5;
    text-align: justify;
}

.variable-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.variable-table th {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    border-top: 2px solid white; 
    border-bottom: 2px solid white; 
}

.variable-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}


.variable-table td strong {
    display: block;
}

.variable-table input {
    margin-left: auto; 
    margin-right: auto;
    display: block;
    margin-top: 5px;
}


.button {
    margin-top: 10px;
    border: 2px solid #4682B4;
    background-color: white;
    color: #4682B4;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #4682B4;
    color: white;
}

.results {
    margin-top: 20px;
}

.results p {
    margin: 10px 0;
}

span {
    font-weight: bold;
    color: #228B22;
}

.linia{
    border-top: 3px double white;
}  */